.header
{
	background-color: #01080e;
	color: aliceblue;
	font-size: 20px;
	width: 97%;
	text-align: center;
	padding: 20px;
	margin: 0 auto;

}
.container
{
	position: relative;
	width: 100%;
	background: #cfd9e3;
	margin-top: 20px;
	background: url("");
}

img{
width: 100%;	
}

.display{
	position: absolute;
	top: 225px;
	left: 207px;
	background: white;
	width: 935px;
	height: 540px;
	z-index: 1;
}

.list
{
	padding: 11px 22px 0 0;
	width: 913px;
	height: 35px;
	background: #2f2e2c;
	position: absolute;
	margin-top: -298px;
	margin-left: 199px;
	z-index: 1;
	border-top: 1px solid grey;
	/*border-radius: 2px 0px 11px 19px;*/
}
.list a
{
	padding: 11px 10px 12px 10px;
	color: #566aff;
	text-decoration: none;
	border-collapse: collapse;
	/*font-family: cursive;
	background: #2a2c2f;
	margin-left: 117px;
	border-radius: 2px;*/
}

.list a:hover{
	cursor: pointer;
	background: black;
	color: white;
}